/* stylelint-disable property-no-vendor-prefix */
.app__layout--form-input {
	background-color: rgba(245, 245, 245, 0.85);
	border: solid 2px rgba(255, 255, 255, 0);
	border-radius: 1rem;
	font-size: 0.75rem;
	padding: 8px 12px;
	transition: 200ms ease-out;
	transition-property: background-color, border-color;
}

.app__layout--form-input-error {
	border-color: #b3404a !important;
}

.app__layout--form-input:hover {
	border-color: #ccc;
}

.app__layout--form-input:focus,
.app__layout--form-input:active {
	box-shadow: none;
	outline: none;
	color: inherit;
}

.app__layout--form-input:not(.app__layout--form-input-connect):focus {
	border-color: #aaa;
}

.app__layout--form-input-connect {
	background-color: #eee;
	cursor: pointer;
}

.app__layout--form-input-connect:hover {
	border-color: #aaa;
}

.app__layout--form-input-connect-active {
	background-color: #ccc;
	border-color: #999;
}

.app__layout--form-input-ws-type {
	-webkit-appearance: none;
	cursor: pointer;
}

.app__layout--form-input-host {
	width: 55%;
}

.app__layout--form-input-port {
	width: 7%;
}

.app__layout--form-input-path {
	width: 10%;
}

.app__layout--form-input-msg {
	width: 80%;
}

.app__layout--form-input-connect-active {
	background-color: #ccc;
	border-color: #999;
}

.app__layout--form {
	background-color: #ddd;
	border-bottom: solid 1px #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 16px 8px;
}
