/* stylelint-disable selector-class-pattern */

@media (min-width: 2560px) {
	.app-layout__sidebar {
		flex-basis: 10%;
	}

	.app-layout__content {
		flex-basis: 90%;
	}
}

@media (min-width: 1919px) and (max-width: 2559px) {
	.app-layout__sidebar {
		flex-basis: 15%;
	}

	.app-layout__content {
		flex-basis: 85%;
	}
}

@media (min-width: 1029px) and (max-width: 1279px) {
	.app__layout--form-input-host {
		width: 40%;
	}

	.app__layout--form-input-msg {
		width: 75%;
	}

	.app__layout--form-input-port {
		width: 8%;
	}

	.app__layout--form-input-path {
		width: 11%;
	}
}

@media (min-width: 970px) and (max-width: 1028px) {
	.app__layout--form-input-host {
		width: 38%;
	}

	.app__layout--form-input-msg {
		width: 73%;
	}

	.app__layout--form-input-port {
		width: 8%;
	}

	.app__layout--form-input-path {
		width: 12%;
	}
}

@media (min-width: 747px) and (max-width: 969px) {
	.app-layout__sidebar {
		flex-basis: 30%;
	}

	.app-layout__content {
		flex-basis: 70%;
	}

	.app__layout--form-input {
		padding: 6px 10px;
	}

	.app__layout--form-input-host {
		width: 14%;
	}

	.app__layout--form-input-msg {
		width: 71%;
	}

	.app__layout--form-input-port {
		width: 12%;
	}

	.app__layout--form-input-path {
		width: 18%;
	}
}

@media (min-width: 640px) and (max-width: 746px) {
	.app-layout__sidebar {
		flex-basis: 30%;
	}

	.app-layout__content {
		flex-basis: 70%;
	}

	.app__layout--form-input {
		font-size: 0.7rem;
		padding: 4px 8px;
	}

	.app__layout--form-input-host {
		width: 13%;
	}

	.app__layout--form-input-msg {
		width: 69%;
	}

	.app__layout--form-input-port {
		width: 12%;
	}

	.app__layout--form-input-path {
		width: 19%;
	}
}

@media (max-width: 639px) {
	.app-layout__sidebar {
		flex-basis: 30%;
	}
	.app-sidebar__connection > * {
		font-size: 0.75rem;
	}

	.app-layout__content {
		flex-basis: 70%;
	}

	.app__layout--form-input {
		font-size: 0.7rem;
		padding: 4px 8px;
	}

	.app__layout--form-input-reconnect-btn {
		display: none;
	}

	.app__layout--form-input-host {
		width: 18%;
	}

	.app__layout--form-input-msg {
		width: 65%;
	}

	.app__layout--form-input-port {
		width: 12%;
	}

	.app__layout--form-input-path {
		width: 20%;
	}
}

@media (max-width: 400px) {
	.app-layout__sidebar {
		flex-basis: 0%;
		padding: 0;
	}
	.app-sidebar__connection > * {
		font-size: 0.7rem;
	}

	.app-layout__content {
		flex-basis: 100%;
	}

	.app-layout--toggler {
		display: none;
	}
}
